<p class="Home-title">Manage your daily tasks :)</p>
<p class="Home-subTitle">New user? <%= link_to "Sign Up here", new_user_path, class: "pageLinks" %></p>
<p class="Home-subTitle">Already an user? <%= link_to "Sign In here", new_sessions_path, class: "pageLinks" %></p>
