.Home-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Home-subTitle {
  font-size: 16px;
  margin-bottom: 14px;
}

.AppHeader {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.AppHeader-title {
  font-size: 24px;
  text-decoration: none;
}

.UserInfo {
  margin-left: auto;
}

.pageLinks {
  margin-left: 5px;
  text-decoration: none;
  font-size: 16px;
}

.Flash-error {
  margin-bottom: 20px;
  color: red;
  font-size: 16px;
}
